@import "../../node_modules/bourbon-neat/core/neat";

@font-face {
  font-family: opensans-regular;
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: opensans-bold;
  src: url("../font/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: fago-bold;
  src: url("../font/FagoPro-Bold.otf") format("opentype");
}


$neat-grid: (
  columns: 12,
  gutter: 16px,

);

body {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.centric-nav {
  font-family: opensans-bold;
  width: 100%;
  margin: 20px 0;
};

.centric-nav ul{
  width: 100%;
}

.nav-button {
  padding: 0.5em;
}

.logo {
  padding: 0.5em;
  width: 100px;
}

.menu-collapsed {
  display: none;
}

.derp {
  padding-top: 20px;
}

#derp {
  font-size: 1em;
}