@import "../../node_modules/bourbon-neat/core/neat";

@font-face {
  font-family: opensans;
  src: url("/src/font/OpenSans-Regular.ttf") format("truetype");
  weight:normal;
}

// @font-face {
//   font-family: opensans2;
//   src: url(/src/fonts/OpenSans-SemiBold.ttf) format("truetype");
//   weight:bold;
// }

// @font-face {
//   font-family: fago-bold;
//   src: url(/src/fonts/FagoPro-Bold.otf) format("opentype");
//   font-weight: normal;
// }

$neat-grid: (
  columns: 12,
  gutter: 20px,
);

.nav-button {
  font-family: opensans1,
};


// singletons
.logo {
  width: 150px;
}

.derp {
  padding-top: 20px;
}

#derp {
  font-size: 1em;
}