@import "../../node_modules/bourbon-neat/core/neat";

@font-face {
  font-family: opensans-regular;
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: opensans-bold;
  src: url("../font/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: fago-bold;
  src: url("../font/FagoPro-Bold.otf") format("opentype");
}

//Responsive mixins from Marko—organize these properly!
@mixin mobile {
  @if (map-get($neat-grid, columns)) {
    @warn 'Detected a nested breakpoint!';
  } @else {
    $neat-grid: $neat-settings-mobile !global;
    @content;
    $neat-grid: () !global;
  }
}

@mixin portrait {
  @if (map-get($neat-grid, columns)) {
    @warn 'Detected a nested breakpoint!';
  } @else {
    $neat-grid: $neat-settings-portrait !global;
    @media (min-width: $breakpoint-portrait) {
      @content;
    }
    $neat-grid: () !global;
  }
}

//Variable for mixins above. Organize these
$neat-settings-mobile: (
  columns: 12,
  gutter: 16px,
  media: 530px,
  margin: 0,
  max-width: 100%,
  debug-color: #f06,
) !global;

$neat-settings-portrait: (
  columns: 12,
  gutter: 16px,
  media: 800px,
  margin: 0,
  max-width: 100%,
  debug-color: #0cf,
) !global;

$neat-grid: (
  columns: 12,
  gutter: 16px,
);

body {
  max-width: 375px;
  margin: 0 auto;
}

.centric-nav {
  font-family: opensans-bold;
  width: 100%;
  margin: 20px 0;
};

.centric-nav ul{
  width: 100%;
}

.nav-button {
  padding: 0.5em;
}

.logo {
  padding: 0.5em;
  width: 100px;
  // float: left;
}

.menu-collapsed {
  display: none;
}

.derp {
  padding-top: 20px;
}

#derp {
  font-size: 1em;
}